/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0c4da2;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2rem;
}

/* Imagen principal */
.main-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Contenedor general */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Texto dentro de un marco */
.texto-en-marco {
    color: red;
    width: 500px;
    border: 2px solid #0c4da2;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    background-color: #fefefe;
}

/* Footer */
footer {
    background-color: #0c4da2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
}
